.cont{
    background: yellowgreen;
}
.ic{
    background: tomato;
    display:inline-block;
    width: 20px;
    height: 20px;
}
.xss{
  background: url("javascript:alert(123)")  ;
 color:expression(alert('a'));
}
:root{
    --base-color:yellowgreen;
    --base-dis:50px;
    --base-deg:85deg;
}
#box>div{
    position: absolute;
    border: 2px solid  black;
    background-color: #ff7f5042 ;
    width: var(--base-dis);
    height: var(--base-dis);
    text-align: center;
    line-height: var(--base-dis);
    font-size: 20px;
}
#box{
  
    transform-style: preserve-3d;
    transform-origin: 25px 25px 0; 
    position: relative;
    height: calc(4*var(--base-dis));
    /* transform: perspective(74px); */
    animation:  demo 3s ease-in-out infinite;
}
.one{
    transform: rotateY(90deg) translateZ(-25px);
}
.two{
    transform: rotateY(90deg) translateZ(25px);
}
.three{
    transform: rotateX(90deg) translateZ(25px);
}
.four{
    transform: translateY(25px) rotateX(90deg)
}
.five{
    transform: translateZ(25px);
}
.six{
    transform: translateZ(-25px);
}
@keyframes demo{
    from,to{}
    25%{
        transform: rotateX(-45deg)  rotateY(45deg)
    }
    50%{
        transform: rotateX(45deg) rotateZ(135deg)
    }
    75%{
        transform: rotateX(135deg)  rotateY(135deg)
    }
}
