.cont{
    background: yellowgreen;
}
.ic{
    background: tomato;
    display:inline-block;
    width: 20px;
    height: 20px;
}
.xss{
  background: url("javascript:alert(123)")  ;
 color:expression(alert('a'));
}
:root{
    --base-color:yellowgreen;
    --base-dis:50px;
    --base-deg:85deg;
}
#box>div{
    position: absolute;
    border: 2px solid  black;
    background-color: #ff7f5042 ;
    width: var(--base-dis);
    height: var(--base-dis);
    text-align: center;
    line-height: var(--base-dis);
    font-size: 20px;
}
#box{
  
    transform-style: preserve-3d;
    transform-origin: 25px 25px 0; 
    position: relative;
    height: calc(4*var(--base-dis));
    /* transform: perspective(74px); */
    animation:  demo 3s ease-in-out infinite;
}
.one{
    transform: rotateY(90deg) translateZ(-25px);
}
.two{
    transform: rotateY(90deg) translateZ(25px);
}
.three{
    transform: rotateX(90deg) translateZ(25px);
}
.four{
    transform: translateY(25px) rotateX(90deg)
}
.five{
    transform: translateZ(25px);
}
.six{
    transform: translateZ(-25px);
}
@keyframes demo{
    from,to{}
    25%{
        transform: rotateX(-45deg)  rotateY(45deg)
    }
    50%{
        transform: rotateX(45deg) rotateZ(135deg)
    }
    75%{
        transform: rotateX(135deg)  rotateY(135deg)
    }
}
.shan{
    margin: 70px 10px 130px;
    width: 100px;
    height: 50px;
    border: solid 1px black;
   border-radius: 50px 50px 0 0;
   position: relative;
   background-image: radial-gradient(20px 100px at 50% 100% ,red 48% ,transparent 50%),
                     radial-gradient(40px 100px at 50% 100% ,blue 48% ,transparent 50%),
                     radial-gradient(60px 100px at 50% 100% ,yellowgreen 48% ,transparent 50%),
                     radial-gradient(80px 100px at 50% 100% ,pink 48% ,transparent 50%),
                     radial-gradient(100px 100px at 50% 100% ,yellow 48% ,transparent 50%);
  
}
.shan::before{
    content: '';
    width: 6px;
    height: 12px;
    border-radius: 4px 4px 0 0;
    border: solid 1px black;
    position: absolute;
    top: -14px;
    left: 50%;
    transform: translateX(-50%);
}
.shan::after{
    content: '';
    width: 20px;
    height: 100px;
    position: absolute;
    left: 50%;
    /* transform: translateX(-50%); */
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    border-radius: 0 0 10px 10px;
    top: 50px;
}
aside>p{
    width: 100%;
    height: 200px;
    font-size: 100px;
    mix-blend-mode: lighten;
    background-color: white;

} 
aside{
    background-image: url(s.png)
}