.cont{
    background: yellowgreen;
}
.ic{
    background: tomato;
    display:inline-block;
    widows: 20px;
    height: 20px;
}
.xss{
  background: url("javascript:alert(123)")  ;
 color:expression(alert('a'));
}